* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 62.5%;
  --white: white;
  --light-grey: #ddd;
  --dark-grey: #4f4f4f;
  --grey: grey;
  --black: #000;
  --overlay: hsla(100, 0%, 10%, 0.5);
  --blue: rgb(27, 102, 172);
}
body {
  font-family: "Roboto", sans-serif;
  position: relative;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}
/*Header*/
.header {
  width: 100vw;
  height: 60px;
  position: fixed;
  background-color: var(--light-grey);
  z-index: 10;
}
.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brandContainer img {
  height: 60px;
}
.navContainer {
  position: relative;
}
.navContainer label {
  padding-right: 20px;
  cursor: pointer;
  display: block;
}
.span {
  width: 25px;
  height: 3px;
  background-color: var(--black);
  display: block;
  margin: 3px 0;
}
.nav {
  position: absolute;
  top: 37px;
  right: 0px;
  display: none;
}
.containerMenu {
  list-style: none;
  padding: 0;
  line-height: 5rem;
  width: 50vw;
  height: 100vh;
  background-color: var(--light-grey);
}

.navItem {
  cursor: pointer;
  padding-left: 35px;
}
.navLink {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  font-size: 1.2rem;
}
.navButton {
  display: none;
  animation: all 1s ease-out;
}
.navButton:checked ~ .nav {
  display: block;
}
.navButton:checked ~ .navContainer > label > .span1 {
  transform: rotate(145deg);
}
.navButton:checked ~ .navContainer label .span2 {
  display: none;
}
.navButton:checked ~ .navContainer label .span3 {
  transform: rotate(-145deg);
}
*/

/*main*/
.main {
  padding-top: 60px;
}
/*Banner*/
.bannerContainer {
  background-image: url("../assets/img/imgBanner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  min-width: 320px;
}
.bannerContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--overlay);
}
.bannerContent h3,
.bannerContent h1,
.bannerContent p {
  color: var(--white);
  margin: 10px auto;
  text-align: center;
}
.bannerContent h3 {
  font-size: 2rem;
}
.bannerContent h1 {
  font-size: 3rem;
}
.bannerContent p {
  font-size: 1.8rem;
}
.bannerContent button {
  padding: 5px 10px;
  border-radius: 10px;
  border: 0;
  outline: none;
  box-shadow: 0 0 10px var(--white);
  margin: 30px 0 0;
  font-weight: bold;
}
/*services*/
.servicesContainer {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service {
  width: 70%;
  padding: 20px;
  text-align: center;
  margin: 50px 0 0;
  background: var(--light-grey);
  box-shadow: 0 4px 8px grey;
  border-radius: 10px;
}
.service img {
  width: 25%;
}
.service h2 {
  font-size: 2rem;
  margin: 20px 0 10px;
  color: var(--dark-grey);
}
.service h4 {
  margin-bottom: 10px;

  font-size: 1.1rem;
  text-align: left;
}
.service p {
  text-align: left;
  line-height: 2rem;
  font-size: 1.4rem;
  margin: 15px 0;
}
/*mini carousel*/
.miniCarousel {
  margin: 50px 0;
}
.carouselContent {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
}
.imgContainer {
  scroll-snap-align: center;
  margin: 20px 35px;
}

/*why us*/
.whyUsContainer {
  background: var(--dark-grey);
  color: var(--white);
  padding: 20px 0;
}
.whyUsContainer h2 {
  font-size: 4rem;
  text-align: center;
  padding: 20px 0;
  font-family: "Anton", sans-serif;
}
.whyUsContainer article {
  padding: 10px 0;
}
.container {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
}
.icon {
  width: 20%;
  text-align: center;
}
.icon img {
  width: 100%;
  margin: 0;
}

.description {
  width: 75%;
}
.description h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.description p {
  font-size: 1.7rem;
  line-height: 2.1rem;
}
/*form*/
.formContainer {
  min-width: 320px;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.formContainer h2 {
  font-size: 4rem;
  width: 300px;
  text-align: center;
  padding: 20px 0;
  color: var(--dark-grey);
  font-family: "Anton", sans-serif;
}
.formContainer h4 {
  font-size: 1.5rem;
  text-align: center;
  color: var(--grey);
  margin-bottom: 20px;
}
.formContainer form {
  padding: 40px;
  margin: 20px auto 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--light-grey);
  border-radius: 30px;
}
.formContainer form input {
  margin: 10px 0;
  line-height: 2.5rem;
  font-size: 1.5rem;
  border: 0;
  border-bottom: var(--dark-grey) solid 1px;
  background: transparent;
}
.formContainer form button {
  box-shadow: 0 4px 10px var(--dark-grey);
  width: 130px;
  line-height: 2.5rem;
  border-radius: 50px;
  outline: none;
  border: 0;
  margin-top: 30px;
}
/*faqs*/
.faqsContainer {
  background-image: linear-gradient(to bottom, rgb(187, 24, 24) 50%, white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.faqsContainer h2 {
  font-size: 4rem;
  text-align: center;
  padding: 20px 0;
  color: var(--white);
  font-family: "Anton", sans-serif;
}
.faq {
  color: var(--white);
  display: flex;
  margin: 20px;
  justify-content: space-between;
}
.fag-container h3 {
  font-size: 1.8rem;
  font-weight: bold;
}
.fag-container h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 10px;
  font-weight: normal;
}
.hidden-content {
  display: none;
}
.arrow-icon {
  margin-left: 10px;
}
.arrow-icon button {
  background: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
  color: var(--blue);
}
.fa-arrow-circle-down {
  font-size: 2rem;
  background: white;
  border-radius: 50%;
}
.buttonFaqs {
  color: var(--dark-grey);
  font-weight: bold;
  box-shadow: 0 4px 10px var(--dark-grey);
  width: 170px;
  line-height: 2.5rem;
  border-radius: 50px;
  outline: none;
  border: 0;
  margin: 30px auto 70px;
}
/*footer*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  background-color: var(--light-grey);
  margin: 0;
}
.brandFooter {
  width: 20%;
  margin: 20px auto;
}
.footerContent {
  text-align: center;
  margin-bottom: 15px;
}
.rrssContainer {
  font-size: 2rem;
  margin: 10px 0 30px;
}
.rrssContainer a {
  text-decoration: none;
  color: var(--black);
  margin: 0 10px;
}
.mailFooter {
  margin-bottom: 20px;
}
.mailFooter i,
.addressFooter i {
  font-size: 2rem;
}
.mailFooter p,
.addressFooter p {
  margin: 10px 0;
}
